<div class="mmc-platform mdl-layout__container">
    {{!--
    {{bind-attr class="isLoginRoute:mmc-login-page:app-wrapper"}}
    --}}
    <div class="mdl-layout mdl-js-layout {{if isLoginRoute 'mmc-login-page'}}">
        {{#unless isLoginRoute}}
            {{!--
            //@guide - The "partial" helper renders another template without changing the template context:
            --}}
            {{partial "application/app-header"}}
        {{/unless}}

        <main class="mmc-content mdl-layout__content">
            <!--placeholder for inner route component-->
            {{outlet}}
        </main>

        {{#unless isLoginRoute}}
            {{partial "application/app-footer"}}
        {{/unless}}
    </div>
</div>
